@import "variable";


.titulo{
    background-color: map-get($map: $general , $key: color )
    
       
}

@mixin nombre {
    height: $height;
    width: $width;
    
}

.menu{
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    @include nombre(150px, 100px)
   
}

.menu2{
    @extend .menu;
    font-family: 'Courier New', Courier, monospace;
}


.form{
width: 500px;
}

div{
    .cerasojain{
        text-align: center;
        font-family: $letratip;
        font-size: xx-large;
        background-color: map-get($map: $colordefondo , $key: color )
       
            }
    }

    
body{
    background-image: radial-gradient(pink, beige,rgb(189, 147, 147));
}

